<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div >
    <label for="email">Email</label>
    <input type="text" formControlName="email"  />
    <div *ngIf="loginForm.controls.email.errors" >
      <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
    </div>
  </div>
  <div >
    <label for="password">Password</label>
    <input type="password" formControlName="password"  />
    <div *ngIf="loginForm.controls.password.errors" >
      <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
    </div>
  </div>
  <div >
    <button [disabled]="loading" >Login</button>
    <a [routerLink]="['/registration']" >Register</a>
  </div>
</form>
